<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="css/base.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_common.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_header.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_manager.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_form.css" type="text/css" />
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script type="text/javascript" src="js/topNav.js" ></script>
</head>
<body>
<!-- Header  -wll-2013/03/24 -->
<div class="shop_hd">
    <!-- Header TopNav -->
    <div class="shop_hd_topNav">
        <div class="shop_hd_topNav_all">
            <!-- Header TopNav Left -->
            <div class="shop_hd_topNav_all_left">
                <p>您好，欢迎来到<b><a href="/sso/tologin">ShopCZ商城</a></b>[<a >登录</a>][<a href="/sso/toregister">注册</a>]</p>
            </div>
            <!-- Header TopNav Left End -->

            <!-- Header TopNav Right -->
            <div class="shop_hd_topNav_all_right">
                <ul class="topNav_quick_menu">

                    <li>
                        <div class="topNav_menu">
                            <a href="#" class="topNavHover">我的商城<i></i></a>
                            <div class="topNav_menu_bd" style="display:none;" >
                                <ul>
                                    <li><a title="已买到的商品" target="_top" href="#">已买到的商品</a></li>
                                    <li><a title="个人主页" target="_top" href="#">个人主页</a></li>
                                    <li><a title="我的好友" target="_top" href="#">我的好友</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="topNav_menu">
                            <a href="#" class="topNavHover">卖家中心<i></i></a>
                            <div class="topNav_menu_bd" style="display:none;">
                                <ul>
                                    <li><a title="已售出的商品" target="_top" href="#">已售出的商品</a></li>
                                    <li><a title="销售中的商品" target="_top" href="#">销售中的商品</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="topNav_menu">
                            <a href="#" class="topNavHover">购物车<b>0</b>种商品<i></i></a>
                            <div class="topNav_menu_bd" style="display:none;">
                                <!--
                                <ul>
                                  <li><a title="已售出的商品" target="_top" href="#">已售出的商品</a></li>
                                  <li><a title="销售中的商品" target="_top" href="#">销售中的商品</a></li>
                                </ul>
                                -->
                                <p>还没有商品，赶快去挑选！</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="topNav_menu">
                            <a href="#" class="topNavHover">我的收藏<i></i></a>
                            <div class="topNav_menu_bd" style="display:none;">
                                <ul>
                                    <li><a title="收藏的商品" target="_top" href="#">收藏的商品</a></li>
                                    <li><a title="收藏的店铺" target="_top" href="#">收藏的店铺</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="topNav_menu">
                            <a href="#">站内消息</a>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- Header TopNav Right End -->
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <!-- Header TopNav End -->

    <!-- TopHeader Center -->
    <div class="shop_hd_header">
        <div class="shop_hd_header_logo"><h1 class="logo"><a href="/"><img src="images/logo.png" alt="ShopCZ" /></a><span>ShopCZ</span></h1></div>
        <div class="shop_hd_header_search">
            <ul class="shop_hd_header_search_tab">
                <li id="search" class="current">商品</li>
                <li id="shop_search">店铺</li>
            </ul>
            <div class="clear"></div>
            <div class="search_form">
                <form method="post" action="index.php">
                    <div class="search_formstyle">
                        <input type="text" class="search_form_text" name="search_content" value="搜索其实很简单！" />
                        <input type="submit" class="search_form_sub" name="secrch_submit" value="" title="搜索" />
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="search_tag">
                <a >李宁</a>
                <a >耐克</a>
                <a >Kappa</a>
                <a >双肩包</a>
                <a >手提包</a>
            </div>

        </div>
    </div>
    <div class="clear"></div>
    <!-- TopHeader Center End -->

    <!-- Header Menu -->
    <div class="shop_hd_menu">
        <!-- 所有商品菜单 -->

        <div id="shop_hd_menu_all_category" class="shop_hd_menu_all_category"><!-- 首页去掉 id="shop_hd_menu_all_category" 加上clsss shop_hd_menu_hover -->
            <div class="shop_hd_menu_all_category_title"><h2 title="所有商品分类"><a href="javascript:void(0);">所有商品分类</a></h2><i></i></div>
            <div id="shop_hd_menu_all_category_hd" class="shop_hd_menu_all_category_hd">
                <ul class="shop_hd_menu_all_category_hd_menu clearfix">
                    <!-- 单个菜单项 -->
                    <li id="cat_3" class="">
                        <h3><a  title="美容美妆">美容美妆</a></h3>
                        <div id="kk" class="cat_menu clearfix" style="">
                            <dl class="clearfix">
                                <dt><a href="美容" >美容</a></dt>
                                <dd>
                                    <a >风衣</a>
                                    <a >长袖连衣裙</a>
                                    <a >毛呢连衣裙</a>
                                    <a >半身裙</a>
                                    <a >小脚裤</a>
                                    <a >加绒打底裤</a>
                                    <a >牛仔裤</a>
                                    <a >打底衫</a>
                                    <a >情侣装</a>
                                    <a >棉衣</a>
                                    <a >毛呢大衣</a>
                                    <a >毛呢短裤</a>
                                </dd>
                            </dl>

                            <dl class="clearfix">
                                <dt><a href="美妆" >美妆</a></dt>
                                <dd>
                                    <a >风衣</a>
                                    <a >长袖连衣裙</a>
                                    <a >毛呢连衣裙</a>
                                    <a >半身裙</a>
                                    <a >小脚裤</a>
                                    <a >加绒打底裤</a>
                                    <a >牛仔裤</a>
                                    <a >打底衫</a>
                                    <a >情侣装</a>
                                    <a >棉衣</a>
                                    <a >毛呢大衣</a>
                                    <a >毛呢短裤</a>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="more"><a >查看更多分类</a></li>
                </ul>
            </div>
        </div>
        <!-- 所有商品菜单 END -->

        <!-- 普通导航菜单 -->
        <ul class="shop_hd_menu_nav">
            <li class="current_link"><a ><span>首页</span></a></li>
            <li class="link"><a ><span>团购</span></a></li>
            <li class="link"><a ><span>品牌</span></a></li>
            <li class="link"><a ><span>优惠卷</span></a></li>
            <li class="link"><a ><span>积分中心</span></a></li>
            <li class="link"><a ><span>运动专场</span></a></li>
            <li class="link"><a ><span>微商城</span></a></li>
        </ul>
        <!-- 普通导航菜单 End -->
    </div>
    <!-- Header Menu End -->

</div>
<div class="clear"></div>
<!-- 面包屑 注意首页没有 -->
<div class="shop_hd_breadcrumb">
    <strong>当前位置：</strong>
    <span>
			<a >首页</a>&nbsp;›&nbsp;
			<a >我的商城</a>&nbsp;›&nbsp;
			<a >已买到商品</a>
		</span>
</div>
<div class="clear"></div>
<!-- 面包屑 End -->

<!-- Header End -->

<!-- 我的个人中心 -->
<div class="shop_member_bd clearfix">
    <!-- 左边导航 -->
    <div class="shop_member_bd_left clearfix">

        <div class="shop_member_bd_left_pic">
            <a href="javascript:void(0);"><img src="images/avatar.png" /></a>
        </div>
        <div class="clear"></div>

        <dl>
            <dt>我的交易</dt>
            <dd><span><a >已购买商品</a></span></dd>
            <dd><span><a >我的收藏</a></span></dd>
            <dd><span><a >评价管理</a></span></dd>
        </dl>

        <dl>
            <dt>我的账户</dt>
            <dd><span><a >个人资料</a></span></dd>
            <dd><span><a >密码修改</a></span></dd>
            <dd><span><a >收货地址</a></span></dd>
        </dl>

    </div>
    <!-- 左边导航 End -->

    <!-- 右边购物列表 -->
    <div class="shop_member_bd_right clearfix">

        <div class="shop_meber_bd_good_lists clearfix">
            <div class="title"><h3>修改密码</h3></div>
            <div class="clear"></div>
            <div class="shop_home_form">
                <form action="/forget/updatepassword" name="" class="shop_form" method="post">
                    <ul>
                        <li class="bn"><label>新的密码：</label>
                            <input type="text" name="password" class="truename form-text" id="password"/>
                        </li>
                        <li class="bn"><span id="msgspan">：</span>
                        </li>
                        <input  type="hidden" name="token" th:value="${#request.getParameter('token')}" id="token"/>
                        <li class="bn"><label>&nbsp;</label><input type="submit" class="form-submit"  value="修改密码" />
                        </li>

                    </ul>

                    <script type="text/javascript">
                        //发起请求发送邮件
                        function sendmail(ele) {
                            //获取用户输入的用户名
                            var password=$("#password").val();
                            var token=$("#token").val();

                            //获取当前对象，禁用按钮
                            $(ele).attr('disabled','disabled');
                            //发送请求
                            $.ajax({
                                url:"/forget/updatepassword",
                                data:{"password":password,"token":token},
                                dataType:"json",
                                success:function (data) {
                                    if(data.code==200){
                                        //发送成功
                                        //得到发送的邮箱名称
                                        var showmail=data.data.showmail;                                      //得到前往邮箱的地址链接
                                        var tomail=data.data.tomail;

                                        $("#msgspan").html("邮件已经发送到:"+showmail+"邮箱,<a href='http://"+tomail+"'>去邮箱</a>");
                                    }else {
                                        alert(data.msg);
                                    }
                                }



                            })



                        }



                    </script>



                </form>
        </div>
    </div>
</div>
<!-- 右边购物列表 End -->

</div>
<!-- 我的个人中心 End -->

<!-- Footer - wll - 2013/3/24 -->
<div class="clear"></div>
<div class="shop_footer">
    <div class="shop_footer_link">
        <p>
            <a >首页</a>|
            <a >招聘英才</a>|
            <a >广告合作</a>|
            <a >关于ShopCZ</a>|
            <a >关于我们</a>
        </p>
    </div>
    <div class="shop_footer_copy">
        <p>Copyright 2004-2013 itcast Inc.,All rights reserved.</p>
    </div>
</div>
<!-- Footer End -->
</body>
</html>